h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-create {
    max-width: 400px;
    padding: 15px;
    margin: 0, auto;
    color: rgb(49, 51, 51);
    display: flex;
    flex-direction: column;

}

body {
    background-color: rgb(199, 199, 206);
    margin-left: 30px;
    margin-top: 20px;
     
}

h1 {
    color: rgb(187, 93, 17);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn .btn-outline-secondary {
    padding: 0;
}

form {
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }

